[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
coverage = "*"
django-coverage = "*"
django-autoslug = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-resized = "*"

[dev-packages]

[requires]
python_version = "3.8"
